.header {
  position: sticky;
  top: -0.5px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  height: 53px;
  background: rgba(var(--background-start-rgb), 0.65);
  backdrop-filter: blur(12px);
}
.inner {
  margin: auto;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.back {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 56px;
  min-height: 32px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  height: 100%;
}
.title {
  padding: 2px 0;
  font-size: 20px;
  font-weight: 700;
  color: rgb(var(--font-theme-rgb));
  line-height: 24px;
}
.sub {
  font-size: 13px;
  font-weight: 400;
  color: rgb(var(--link-rgb));
  line-height: 16px;
}
.options {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  min-width: 56px;
  min-height: 32px;
}
.buttons {
  display: flex;
  align-items: center;
}
.button {
  min-width: 36px;
  min-height: 36px;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 9999px;
  transition-duration: 200ms;
  transition-property: background-color;
  user-select: none;
  cursor: pointer;
}
.button:hover:enabled {
  background: rgba(var(--button-hover-rgb), 0.1);
}
.button:active:enabled {
  background: rgba(var(--button-hover-rgb), 0.2);
}
