.singleLists {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(var(--border-start-rgb));
}
.pad {
  padding-bottom: 33.3333%;
  width: 100%;
}
.banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  color: rgb(var(--font-theme-rgb));
  line-height: 24px;
}
.name > svg {
  margin-left: 2px;
}
.description {
  margin-bottom: 12px;
  font-size: 15px;
  font-weight: 400;
  color: rgb(var(--font-theme-rgb));
  line-height: 20px;
}
.description > span {
  display: block;
  text-align: center;
}
.user {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}
.userLink {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.userLink:hover .userNick {
  text-decoration: underline;
}
.userProfile {
  margin-right: 4px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
}
.userNick {
  font-size: 15px;
  font-weight: 700;
  color: rgb(var(--font-theme-rgb));
  line-height: 20px;
}
.useridentity {
  margin-left: 4px;
  font-size: 15px;
  font-weight: 400;
  color: rgb(var(--link-rgb));
  line-height: 20px;
}
.counts {
  display: flex;
  align-self: center;
}
.count {
  display: flex;
  align-items: center;
}
.count:first-child {
  margin-right: 20px;
}
.countLink {
  cursor: pointer;
}
.countLink:hover {
  text-decoration: underline;
}
.countContent {
  font-size: 14px;
  font-weight: 700;
  color: rgb(var(--font-theme-rgb));
  line-height: 16px;
}
.countContent > span:last-child {
  font-weight: 400;
  color: rgb(var(--link-rgb));
}
.actions {
  margin-top: 20px;
  margin-bottom: 12px;
  background: transparent;
}
.action {
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 1px solid rgb(var(--label-rgb));
  border-radius: 9999px;
  font-size: 15px;
  font-weight: 700;
  color: rgb(var(--font-theme-rgb));
  line-height: 20px;
  transition-duration: 200ms;
  transition-property: background-color;
  cursor: pointer;
}
.edit {
  min-width: 36px;
  min-height: 36px;
}
.edit:hover {
  background: rgba(var(--r-background-start-rgb), 0.1);
}
.edit:active {
  background: rgba(var(--r-background-start-rgb), 0.15);
}
.follow {
  min-width: 36px;
  min-height: 36px;
  background: rgb(239, 243, 244);
  color: rgb(var(--background-start-rgb));
}
.follow:hover:enabled {
  background: rgb(215, 219, 220);
}
.follow:active:enabled {
  background: rgb(191, 194, 195);
}
.following {
  background: transparent;
  color: rgb(var(--font-theme-rgb));
}
.followingHover:hover:enabled {
  background: rgba(244, 33, 46, 0.1);
  border-color: rgb(103, 7, 15);
  color: rgb(var(--error-rgb));
}
.followingHover:active:enabled {
  background: rgba(244, 33, 46, 0.2);
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
