.loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(var(--background-start-rgb), 0.5);
  animation-name: fade-in;
  animation-duration: 300ms;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
