/* default settings */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border: none;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(0, 0, 0, 0.5);
  font-size: 15px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 150ms background-color ease-in;
}
.btn:hover:enabled {
  background: rgba(var(--button-hover-rgb), 0.1);
}
.btn:active:enabled {
  background: rgba(var(--button-hover-rgb), 0.2);
  transition: none;
}
.textBtn {
  padding: 0 16px;
  width: unset;
  height: unset;
  min-width: 36px;
  min-height: 36px;
  border-radius: 9999px;
}
.textBtn span {
  margin-bottom: 1px;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}
.theme {
  background: rgb(var(--r-background-start-rgb));
  border: 1px solid rgb(var(--label-rgb));
}
.theme:hover:enabled {
  background: rgba(var(--r-background-start-rgb), 0.9);
}
.theme:active:enabled {
  background: rgba(var(--r-background-start-rgb), 0.8);
}
.reverse {
  background: rgb(var(--background-start-rgb));
  border: 1px solid rgb(var(--label-rgb));
}
.reverse:hover:enabled {
  background: rgba(var(--background-start-rgb), 0.9);
}
.reverse:active:enabled {
  background: rgba(var(--background-start-rgb), 0.8);
}
.primary {
  background: rgb(var(--primary-button-rgb));
}
.primary:hover:enabled {
  background: rgba(var(--primary-button-rgb), 0.9);
}
.primary:active:enabled {
  background: rgba(var(--primary-button-rgb), 0.75);
}
.primary_reverse {
  background: transparent;
  border: 1px solid transparent;
  color: rgb(var(--primary-rgb));
  font-weight: 600;
}
.primary_reverse:hover:enabled {
  background: rgba(var(--primary-rgb), 0.1);
}
.primary_reverse:active:enabled {
  background: rgba(var(--primary-rgb), 0.25);
}
.large {
  padding: 0 32px;
  min-width: 52px;
  min-height: 52px;
}

/* BackButton */
.backBtn {
  margin-right: 25px;
}

/* FollowButton */
.followBtn {
  padding: 0 16px;
  width: unset;
  height: unset;
  min-height: 36px;
  background: rgb(var(--foreground-rgb));
  border: 2px solid transparent;
  border-radius: 9999px;
  font-size: 14px;
  font-weight: bold;
  color: rgb(var(--background-start-rgb));
}
.followBtn:hover:enabled {
  background: rgba(var(--foreground-rgb), 0.9);
}
.followBtn:active:enabled {
  background: rgba(var(--foreground-rgb), 0.75);
  transition: none;
}
.isFollow {
  min-width: 104px;
  background: rgb(var(--background-start-rgb));
  border: 1px solid rgb(var(--label-rgb));
  color: rgb(var(--foreground-rgb));
}
.isFollow:hover:enabled {
  border-color: rgb(103, 7, 15);
  background: rgba(244, 33, 46, 0.1);
  color: rgb(244, 33, 46);
}

/* SearchButton */
.searchBtn {
  margin-right: 10px;
  width: 22px;
  height: 22px;
  background: rgb(var(--primary-rgb));
  visibility: hidden;
  opacity: 0;
  transition: 200ms all ease-in;
}
.searchBtn.visible {
  visibility: visible;
  opacity: 1;
}
.searchBtn > svg {
  fill: rgb(var(--background-start-rgb));
}
.searchBtn:hover:enabled {
  background: rgb(var(--primary-rgb));
  opacity: 0.75;
}

/* RadioButton */
.RadioBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(var(--link-rgb));
  border-radius: 32px;
  cursor: pointer;
}
.RadioBtn.active {
  background: rgb(var(--primary-rgb));
  border-color: rgb(var(--primary-rgb));
}

/* RefreshButton */
.refreshBtn {
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: unset;
  height: unset;
  min-width: 36px;
  min-height: 36px;
  background: rgb(var(--primary-button-rgb));
  border: none;
  border-radius: 9999px;
}
.refreshBtn svg {
  margin-right: 4px;
  fill: rgb(var(--foreground-rgb));
}
.refreshBtn span {
  margin-bottom: 1px;
  font-size: 15px;
  font-weight: bold;
  color: rgb(var(--foreground-rgb));
}
.refreshBtn:hover:enabled {
  background: rgba(var(--primary-button-rgb), 0.9);
}
.refreshBtn:active:enabled {
  background: rgba(var(--primary-button-rgb), 0.75);
  transition: none;
}

/* BadgeButton */
.badgeContainer {
  display: flex;
  align-items: flex-end;
  position: relative;
}
.badgeBtn {
  background: transparent;
  border: none;
  cursor: pointer;
}
.outSide {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}
.badgeInfo {
  padding: 20px;
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  gap: 12px;
  min-width: 260px;
  max-width: 360px;
  max-height: 480px;
  min-height: 30px;
  background: rgba(var(--background-start-rgb), 1);
  border-radius: 16px;
  box-shadow: rgba(var(--foreground-rgb), 0.2) 0px 0px 15px,
    rgba(var(--foreground-rgb), 0.15) 0px 0px 3px 1px;
}
.badgeTitle {
  font-size: 23px;
  font-weight: 700;
  color: rgb(var(--foreground-rgb));
  line-height: 28px;
  word-break: keep-all;
  word-wrap: break-word;
}
.badgeType {
  display: inline-flex;
  gap: 12px;
}
.badgeType > span,
.badgeDate > span {
  font-size: 15px;
  font-weight: 400;
  color: rgb(var(--link-rgb));
  line-height: 20px;
  word-break: keep-all;
  word-wrap: break-word;
}
.learnMore {
  margin-left: 2px;
  color: rgb(var(--primary-rgb));
}
.learnMore:hover {
  text-decoration: underline;
}
.badgeDate {
  display: inline-flex;
  gap: 12px;
}
.getPremium {
  margin-top: 8px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 32px;
  min-height: 32px;
  background: rgb(var(--foreground-rgb));
  border-radius: 9999px;
  font-size: 14px;
  font-weight: 700;
  color: rgb(var(--background-start-rgb));
  transition: 100ms background-color ease-in;
}
.getPremium:hover {
  background: rgba(var(--button-hover-rgb), 0.9);
}

/* OptionButton */
.optionBtn:hover:enabled {
  background: rgba(var(--primary-rgb), 0.1);
}
.optionBtn:hover:enabled svg {
  fill: rgb(var(--primary-rgb));
}
.optionBtn:active:enabled {
  background: rgba(var(--primary-rgb), 0.2);
}

.fadeIn {
  animation-name: fade-in;
  animation-duration: 200ms;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
}
.fadeOut {
  visibility: hidden;
  opacity: 0;
  animation-name: fade-out;
  animation-duration: 200ms;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}
@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
    filter: blur(15px);
  }
}
