.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border: none;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 0.15s background-color ease-in;
}

.btn:hover:enabled {
  background: rgba(var(--button-hover-rgb), 0.1);
}

.btn:active:enabled {
  background: rgba(var(--button-hover-rgb), 0.2);
  transition: none;
}

.backBtn {
  margin-right: 25px;
}

.followBtn {
  min-width: 76px;
  height: 32px;
  background: rgb(var(--foreground-rgb));
  border: 2px solid transparent;
  border-radius: 9999px;
  font-size: 14px;
  font-weight: bold;
  color: rgb(var(--background-start-rgb));
}

.followBtn:hover:enabled {
  background: rgba(var(--foreground-rgb), 0.9);
}

.followBtn:active:enabled {
  background: rgba(var(--foreground-rgb), 0.75);
  transition: none;
}

.refreshBtn {
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: unset;
  height: unset;
  min-width: 36px;
  min-height: 36px;
  background: rgb(var(--primary-button-rgb));
  border: none;
  border-radius: 9999px;
}

.refreshBtn svg {
  margin-right: 4px;
  fill: rgb(var(--foreground-rgb));
}

.refreshBtn span {
  margin-bottom: 1px;
  font-size: 15px;
  font-weight: bold;
  color: rgb(var(--foreground-rgb));
}

.refreshBtn:hover:enabled {
  background: rgba(var(--primary-button-rgb), 0.9);
}

.refreshBtn:active:enabled {
  background: rgba(var(--primary-button-rgb), 0.75);
  transition: none;
}

.searchBtn {
  margin-right: 10px;
  width: 22px;
  height: 22px;
  background: rgb(var(--primary-rgb));
  visibility: hidden;
  opacity: 0;
  transition: 0.2s all ease-in;
}

.searchBtn.visible {
  visibility: visible;
  opacity: 1;
}

.searchBtn > svg {
  fill: rgb(var(--background-start-rgb));
}

.searchBtn:hover:enabled {
  background: rgb(var(--primary-rgb));
  opacity: 0.75;
}

.RadioBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(var(--link-rgb));
  border-radius: 32px;
  cursor: pointer;
}

.RadioBtn.active {
  background: rgb(var(--primary-rgb));
  border-color: rgb(var(--primary-rgb));
}
