.lists {
  padding: 12px 16px;
  display: flex;
  align-items: center;
  background: rgb(var(--background-start-rgb));
  transition-duration: 200ms;
  transition-property: background-color;
  cursor: pointer;
}
.lists:hover {
  background: rgba(var(--r-background-start-rgb), 0.1);
}
.content {
  display: flex;
  align-items: center;
  flex: 1;
}
.thumbnail {
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}
.imageBox {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  overflow: hidden;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.inform {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}
.title {
  display: flex;
  align-items: center;
}
.name {
  margin-bottom: 2px;
  width: 100%;
  font-size: 15px;
  font-weight: 700;
  color: rgb(var(--font-theme-rgb));
  line-height: 20px;
}
.private {
  margin-left: 4px;
}
.member {
  font-size: 13px;
  font-weight: 400;
  color: rgb(var(--link-rgb));
  line-height: 16px;
  text-wrap: nowrap;
}
.master {
  display: flex;
  align-items: center;
}
.link {
  display: flex;
  cursor: pointer;
}
.master:hover .nickname {
  text-decoration: underline;
}
.profile {
  margin-right: 4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  overflow: hidden;
}
.nickname {
  font-size: 13px;
  font-weight: 700;
  color: rgb(var(--font-theme-rgb));
  line-height: 16px;
}
.identity {
  margin-left: 4px;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
  color: rgb(var(--link-rgb));
  line-height: 16px;
}
.checked {
  padding: 0 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.pinned {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 36px;
  min-height: 36px;
  border-radius: 50%;
  background: transparent;
  border: none;
  transition-duration: 200ms;
  transition-property: background-color;
  cursor: pointer;
}
.pinned:hover:enabled {
  background: rgba(var(--primary-rgb), 0.1);
}
.pinned:active:enabled {
  background: rgba(var(--primary-rgb), 0.2);
}
.checked > svg,
.pinned > svg {
  color: rgb(var(--primary-rgb));
  fill: rgb(var(--primary-rgb));
}
.follow {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 32px;
  min-height: 32px;
  border-radius: 50%;
  background: rgb(var(--r-background-start-rgb));
  border: 1px solid transparent;
  fill: rgb(var(--background-start-rgb));
  transition-duration: 200ms;
  transition-property: background-color;
  cursor: pointer;
}
.follow:hover:enabled {
  background: rgba(var(--r-background-start-rgb), 0.9);
}
.follow:hover:active {
  background: rgba(var(--r-background-start-rgb), 0.8);
}
.isFollow {
  background: transparent;
  border: 1px solid rgb(var(--link-rgb));
  fill: rgb(var(--r-background-start-rgb));
}
.isFollow:hover:enabled {
  background: rgba(244, 33, 46, 0.1);
  border-color: rgb(103, 7, 15);
  fill: rgb(var(--error-rgb));
}
.isFollow:active:enabled {
  background: rgba(244, 33, 46, 0.2);
}
