/* FollowRecommendsSection */
.followRecommendSection {
  margin: 12px 0;
  order: 2;
  border: 1px solid rgb(var(--border-start-rgb));
  border-radius: 16px;
}
.firstOrder {
  order: 0;
}

/* FollowRecommends */
.followRecommend h3 {
  padding: 12px 16px;
  font-size: 20px;
  font-weight: bold;
}
.followRecommend .list {
  padding: 12px 16px;
}
.more {
  padding: 16px;
  display: flex;
  font-size: 15px;
  color: rgb(var(--primary-rgb));
}
.more:hover {
  background: rgba(var(--foreground-rgb), 0.1);
}
.error {
  text-align: center;
}
.error > span {
  display: block;
  color: rgb(var(--link-rgb));
}
.refresh {
  margin: 20px 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* followRecommend */
.container {
  padding: 12px 0;
  min-height: 66px;
  display: flex;
}
.container:hover:not(:has(button:hover)) {
  background: rgba(var(--foreground-rgb), 0.1);
}
.userLogo {
  width: 40px;
  margin-right: 12px;
}
.userLogo,
.userLogo img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
.userInfo {
  flex-grow: 1;
  width: 188px;
}
.flex {
  display: flex;
}
.grow {
  flex-grow: 1;
}
.nickname {
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
}
.identifier {
  font-size: 13px;
  color: rgb(var(--link-rgb));
  line-height: 16px;
  word-wrap: break-word;
}
.description {
  padding-top: 4px;
  max-height: 52px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  word-break: break-all;
  word-wrap: break-word;
  overflow: hidden;
}
