.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.body {
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}
.inner {
  margin: 20px 0;
}
.footer {
  padding: 0 80px;
}
