.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border: none;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  /* border: 1px solid rgb(0, 0, 0, 0.5); */
  font-size: 15px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.15s background-color ease-in;
}
.link:hover {
  background: rgba(var(--button-hover-rgb), 0.1);
}
.link:active {
  background: rgba(var(--button-hover-rgb), 0.2);
  transition: none;
}
.textLink {
  padding: 0 16px;
  width: unset;
  height: unset;
  min-width: 36px;
  min-height: 36px;
  border-radius: 9999px;
}
.textLink span {
  margin-bottom: 1px;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}
.theme {
  background: rgb(var(--r-background-start-rgb));
  border: 1px solid rgb(var(--label-rgb));
  color: rgb(var(--background-start-rgb));
  fill: rgb(var(--background-start-rgb));
}
.theme:hover {
  background: rgba(var(--r-background-start-rgb), 0.9);
}
.theme:active {
  background: rgba(var(--r-background-start-rgb), 0.8);
}
.reverse {
  background: rgb(var(--background-start-rgb));
  border: 1px solid rgb(var(--label-rgb));
  color: rgb(var(--r-background-start-rgb));
}
.reverse:hover {
  background: rgba(var(--r-background-start-rgb), 0.1);
}
.reverse:active {
  background: rgba(var(--r-background-start-rgb), 0.2);
}
.primary {
  background: rgb(var(--primary-button-rgb));
  color: #fff;
  fill: #fff;
}
.primary:hover {
  background: rgba(var(--primary-button-rgb), 0.9);
}
.primary:active {
  background: rgba(var(--primary-button-rgb), 0.75);
}
.primary_reverse {
  background: transparent;
  border: 1px solid transparent;
  color: rgb(var(--primary-rgb));
  fill: rgb(var(--primary-rgb));
  font-weight: 600;
}
.primary_reverse:hover {
  background: rgba(var(--primary-rgb), 0.1);
}
.primary_reverse:active {
  background: rgba(var(--primary-rgb), 0.25);
}
.white {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.white:hover {
  background: rgb(255, 255, 255, 0.9);
}
.white:active {
  background: rgb(255, 255, 255, 0.8);
}
.large {
  padding: 0 32px;
  min-width: 52px;
  min-height: 52px;
}
.inline {
  display: inline-flex;
}
.transparent {
  background: transparent;
}

/* SettingsLink */
.settingsLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  background: transparent;
  border: none;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 200ms;
  cursor: pointer;
}
.settingsLink:hover {
  background: rgba(var(--button-hover-rgb), 0.15);
}
.settingsLink:active {
  background: rgba(var(--button-hover-rgb), 0.3);
}

/* FlexLink */
.flexLink {
  padding: 16px;
  display: flex;
  justify-content: center;
  transition-duration: 200ms;
  transition-property: background-color;
  cursor: pointer;
}
.flexLink:hover {
  background: rgb(var(--primary-rgb), 0.1);
}
