/* Post */
.post {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 12px 16px;
  border-color: rgb(var(--border-start-rgb));
  border-bottom-width: 1px;
  border-bottom-style: solid;
  transition-property: background-color, box-shadow;
  transition-duration: 200ms;
  cursor: pointer;
}
.post:hover {
  background-color: rgba(var(--button-hover-rgb), 0.05);
}
.post.single {
  border-bottom: unset;
  cursor: unset;
}
.post.single:hover {
  background: unset;
}
.post.disabled:hover {
  background: unset;
  cursor: wait;
}
.postWrapper {
  display: flex;
  flex-direction: row;
}
.postWrapper.single {
  flex-direction: column;
}
.disabled {
  opacity: 0.5;
  overflow: hidden;
}

.maxHeight {
  animation-name: maxHeight;
  animation-timing-function: ease;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
}

@keyframes maxHeight {
  from {
    max-height: 0;
  }
  to {
    max-height: 1000px;
  }
}
