/* Post */
.post {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 12px 16px;
  background: rgb(var(--background-start-rgb));
  border-color: rgb(var(--border-start-rgb));
  border-bottom-width: 1px;
  border-bottom-style: solid;
  transition-property: background-color, box-shadow;
  transition-duration: 200ms;
  cursor: pointer;
}
.post:hover {
  background-color: rgba(var(--button-hover-rgb), 0.05);
}
.post.notHover {
  border-bottom: unset;
  cursor: unset;
}
.post.notHover:hover {
  background: unset;
}
.post.disabled:hover {
  background: unset;
  cursor: wait;
}
.post.quote {
  margin: 4px 0;
  padding: 0;
  border: 1px solid rgb(var(--border-start-rgb));
  border-radius: 16px;
  overflow: hidden;
}
.postWrapper {
  display: flex;
  flex-direction: row;
}
.postWrapper.single {
  flex-direction: column;
}
.postWrapper.quote {
  margin: 12px;
}
.disabled {
  opacity: 0.5;
  overflow: hidden;
}

/* NoPost */
.noPost {
  margin: 32px 99px;
  padding: 0 32px;
}
.title {
  margin-bottom: 8px;
  max-width: 350px;
  font-size: 31px;
  font-weight: 800;
  line-height: 36px;
  color: rgb(var(--foreground-rgb));
  word-break: keep-all;
  word-wrap: break-word;
}
.message {
  margin-bottom: 28px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: rgb(var(--link-rgb));
  word-break: keep-all;
  word-wrap: break-word;
}
