.left {
  min-width: 450px;
  border-right: 1px solid rgb(var(--border-start-rgb));
}

.visible {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1400px) {
  .left {
    min-width: 390px;
  }
}

@media screen and (max-width: 1100px) {
  .left {
    min-width: 320px;
  }
}

@media screen and (max-width: 1024px) {
  .left {
    min-width: 600px;
  }
  .visible {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .left {
    min-width: 100%;
  }
}

@media screen and (max-width: 1024px) and (max-height: 500px) {
  .left {
    border-right: none;
  }
}

@media screen and (max-width: 1020px) and (max-height: 500px) {
  .left {
    border-left: none;
    border-right: 1px solid rgb(var(--border-start-rgb));
  }
}
