.spinner {
  fill: rgb(var(--foreground-rgb));
}

.spinner_blocks_1 {
  animation: spinner_blocks 2.4s linear infinite;
  animation-delay: -2.4s;
}

.spinner_blocks_2 {
  animation-delay: -1.6s;
}

.spinner_blocks_3 {
  animation-delay: -0.8s;
}

.reverse {
  fill: rgb(var(--background-start-rgb));
}

@keyframes spinner_blocks {
  8.33% {
    x: 13px;
    y: 1px;
  }
  25% {
    x: 13px;
    y: 1px;
  }
  33.3% {
    x: 13px;
    y: 13px;
  }
  50% {
    x: 13px;
    y: 13px;
  }
  58.33% {
    x: 1px;
    y: 13px;
  }
  75% {
    x: 1px;
    y: 13px;
  }
  83.33% {
    x: 1px;
    y: 1px;
  }
}
