.defaultSvg {
  fill: rgb(var(--link-rgb));
  color: rgb(var(--link-rgb));
}

.white {
  fill: #fff;
  color: #fff;
}

.disable {
  opacity: 0.5;
}

.progress {
  transform: rotate(-90deg);
  transition: 0.3s transform ease-in;
}

.progress > circle {
  transition: 0.3s all ease-in;
}

.progress.scaleUp {
  transform: rotate(-90deg) scale(1.5);
}

.progress.hidden > circle {
  visibility: hidden;
  opacity: 0;
}

.progressText {
  font-size: 11px;
  font-weight: bold;
  transform: rotate(90deg) translate(0px, -54.5px);
}

/* BadgeSvg */
.badge {
  margin-left: 2px;
}
.blue {
  fill: rgb(var(--primary-rgb));
}
.gold {
  fill: #d18800;
}
.gray {
  fill: #829aab;
}
