/* theme */
.default {
  fill: rgb(var(--link-rgb));
  color: rgb(var(--link-rgb));
}
.theme {
  fill: rgb(var(--foreground-rgb));
}
.reverse {
  fill: rgb(var(--foreground-reverse-rgb));
}
.defaultSvg {
  fill: rgb(var(--link-rgb));
  color: rgb(var(--link-rgb));
}
.white {
  fill: #fff;
  color: #fff;
}
.primary {
  fill: rgb(var(--link-primary-rgb));
  color: rgb(var(--link-primary-rgb));
}
.inherit {
  fill: inherit;
  color: inherit;
}

.disable {
  opacity: 0.5;
}

.progress {
  transform: rotate(-90deg);
  transition: 300ms transform ease-in;
}
.progress > circle {
  transition: 300ms all ease-in;
}
.progress.scaleUp {
  transform: rotate(-90deg) scale(1.5);
}
.progress.hidden > circle {
  visibility: hidden;
  opacity: 0;
}
.stroke {
  stroke: #eff3f4;
}
@media (prefers-color-scheme: dark) {
  .stroke {
    stroke: #2f3336;
  }
}

.progressText {
  font-size: 11px;
  font-weight: bold;
  transform: rotate(90deg) translate(0px, -54.5px);
}
.replyLeft {
  transform: scaleX(-1);
}

/* BadgeSvg */
.badge {
  margin-left: 2px;
}

/* color */
.blue {
  fill: rgb(var(--primary-rgb));
}
.gold {
  fill: #d18800;
}
.gray {
  fill: #829aab;
}
.yellow {
  fill: rgb(255, 212, 0);
}
.pink {
  fill: rgb(249, 24, 128);
}
.purple {
  fill: rgb(120, 86, 255);
}
.orange {
  fill: rgb(255, 122, 0);
}
.green {
  fill: rgb(0, 186, 124);
}
