.PhotoModal {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100dvw;
  height: 100dvh;
  background: rgba(var(--background-start-rgb), 0.75);
}

.photoSection {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
}

.imageSection {
  flex-grow: 1;
}

.reactionSection {
  width: 100%;
  display: flex;
  align-items: center;
}

.reaction {
  margin: auto;
  width: 100%;
  max-width: 600px;
  height: 48px;
}

.postSection {
  width: 360px;
  border-left: 1px solid rgb(var(--border-start-rgb));
  background: rgb(var(--background-start-rgb));
}
