/* UserPost */
.userPosts {
  margin-top: 2px;
  display: flex;
  flex-flow: column nowrap;
}
.userMedia {
  display: flex;
  flex-flow: row wrap;
  gap: 3px;
}
.followRecommends {
  border-bottom: 1px solid rgb(var(--border-start-rgb));
}
