/* PostBody */
.postBody {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.postMeta {
  margin-bottom: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.postUserInfo {
  display: flex;
  align-items: center;
  color: rgb(var(--link-rgb));
}
.postUserInfo > span {
  margin-right: 5px;
}
.postUserInfo > span:first-child {
  display: flex;
  align-items: center;
  color: rgb(var(--foreground-rgb));
  font-weight: bold;
}
.postUserInfo > span:hover {
  text-decoration: underline;
}
.postDateView {
  margin: 16px 0;
  font-size: 15px;
  color: rgb(var(--link-rgb));
}
.engagement {
  padding: 16px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid rgb(var(--border-start-rgb));
  font-size: 15px;
  color: rgb(var(--link-rgb));
}
.engagement > a {
  display: flex;
  align-items: center;
}
.engagement svg {
  margin-right: 4px;
}

/* PostReplyInfo */
.postReplyInfo {
  margin-bottom: 2px;
  font-size: 15px;
}
.postReplyInfo span {
  margin-right: 4px;
  color: rgb(var(--link-rgb));
}
.postReplyInfo a {
  color: rgb(var(--primary-rgb));
}
.postReplyInfo a:hover {
  text-decoration: underline;
}

/* PostContent */
.postContent {
  font-size: 15px;
  line-height: 24px;
  word-break: break-all;
}
.hashtag {
  color: rgb(var(--primary-rgb));
}
.hashtag:hover {
  text-decoration: underline;
}
.contentMore {
  color: rgb(var(--primary-rgb));
}
.contentMore:hover {
  text-decoration: underline;
}

/* PostDate */
.postDate {
  color: rgb(var(--link-rgb));
  cursor: pointer;
}
.postDate.isCompose:hover {
  text-decoration: unset;
}
.postDate:hover {
  text-decoration: underline;
}

/* PostView */
.postView {
  color: rgb(var(--link-rgb));
  font-size: 14px;
}
.postView > span:first-of-type {
  margin-right: 5px;
  font-weight: bold;
  color: rgb(var(--foreground-rgb));
}

/* ActionButtons */
.actionButtons {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  column-gap: 4px;
}
.actionButtons.single {
  margin-top: unset;
  padding: 12px 0;
  border-top: 1px solid rgb(var(--border-start-rgb));
  border-bottom: 1px solid rgb(var(--border-start-rgb));
}
.actionButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.primaryButton,
.secondaryButton,
.tertiaryButton,
.bookmarkButton {
  margin-right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  border-radius: 19px;
  outline: none;
  cursor: pointer;
}
.reactionCount {
  padding: 0 4px;
  font-size: 13px;
  font-weight: bold;
  color: rgb(var(--link-rgb));
}
.primary svg,
.primary + .reactionCount {
  fill: rgb(var(--primary-rgb));
  color: rgb(var(--primary-rgb));
}
.reposted svg,
.reposted + .reactionCount {
  fill: rgb(var(--secondary-rgb));
  color: rgb(var(--secondary-rgb));
}
.hearted svg,
.hearted + .reactionCount {
  fill: rgb(var(--tertiary-rgb));
  color: rgb(var(--tertiary-rgb));
}
.actionButton:hover .primaryButton svg,
.actionButton:hover .primaryButton + .reactionCount {
  fill: rgb(var(--primary-rgb));
  color: rgb(var(--primary-rgb));
}
.actionButton:hover .secondaryButton svg,
.actionButton:hover .secondaryButton + .reactionCount {
  fill: rgb(var(--secondary-rgb));
  color: rgb(var(--secondary-rgb));
}
.actionButton:hover .tertiaryButton svg,
.actionButton:hover .tertiaryButton + .reactionCount {
  fill: rgb(var(--tertiary-rgb));
  color: rgb(var(--tertiary-rgb));
}
.white {
  fill: #fff;
  color: #fff;
}
.doubleButton {
  display: flex;
  align-items: center;
  row-gap: 5px;
}
.doubleButton button:first-child {
  margin-right: 10px;
}
.doubleButton .primaryButton:hover svg {
  fill: rgb(var(--primary-rgb));
}
