.userImage {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 50%;
}
.imageBox {
  margin-top: -15%;
  margin-bottom: 12px;
  position: relative;
  width: 145px;
  height: 145px;
  background: rgb(22, 24, 28);
  border: 3px solid rgb(var(--background-start-rgb));
  border-radius: 50%;
  box-sizing: content-box;
  overflow: hidden;
}
.pad {
  position: relative;
  padding-top: 100%;
  width: 100%;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.effect {
  background: transparent;
  box-shadow: rgba(255, 255, 255, 0.03) 0px 0px 2px inset;
  transition-duration: 200ms;
  transition-property: background-color;
}
.effect:hover {
  background: rgba(26, 26, 26, 0.15);
}
.effect:active {
  background: rgba(51, 51, 51, 0.15);
}
.flex {
  display: flex;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
