.description {
  margin-bottom: 12px;
}
.link {
  color: rgb(var(--primary-rgb));
}
.link:hover {
  text-decoration: underline;
}
.textAlign_left {
  text-align: left;
}
.textAlign_center {
  text-align: center;
}
.textAlign_right {
  text-align: right;
}
