.container {
  padding: 11px 15px;
  background: transparent;
}
.container:hover {
  background: rgb(22, 24, 28);
}
.circle {
  min-width: 30px;
  min-height: 30px;
  border: 1px solid rgb(83, 100, 113);
}
