.main_container {
  width: 100dvw;
  height: 100dvh;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 95%;
}
.left {
  flex: 1.3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right h1 {
  font-weight: bold;
  font-size: 64px;
  margin: 48px 0;
}
.right h2 {
  font-weight: bold;
  font-size: 31px;
  margin-bottom: 32px;
}
.right h3 {
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 20px;
  margin-top: 60px;
}

.right .buttons {
  width: 300px;
}

.signup,
.login_google,
.login_github {
  width: 300px;
  height: 40px;
  border-radius: 20px;
  padding: 0 16px;
  font-size: 15px;
  background-color: rgb(var(--primary-button-rgb));
  color: rgb(var(--foreground-rgb));
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s opacity ease-in;
}

.login_google {
  position: relative;
  background-color: rgb(var(--foreground-rgb));
  color: rgb(var(--background-start-rgb));
  cursor: pointer;
}

.login_google:hover:enabled {
  opacity: 0.8;
}

.login_google svg {
  position: absolute;
  top: 5px;
  left: 30px;
  width: 60px;
  height: 60px;
}

.login_github {
  margin-top: 15px;
  position: relative;
  background-color: rgb(var(--background-start-rgb));
  border: 1px solid rgba(var(--foreground-rgb), 0.75);
  cursor: pointer;
}

.login_github:hover:enabled {
  opacity: 0.8;
}

.login_github svg {
  position: absolute;
  top: 5px;
  left: 28px;
  fill: rgb(var(--foreground-rgb));
}

.signup:hover {
  opacity: 0.75;
}
.login {
  width: 300px;
  height: 40px;
  border-radius: 20px;
  padding: 0 16px;
  font-size: 15px;
  color: rgb(var(--primary-button-rgb));
  border: 2px solid rgb(var(--border-start-rgb));
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s background-color ease-in;
}
.login:hover {
  background-color: rgba(var(--primary-button-rgb), 0.15);
}

.XLogo {
  width: 40%;
  max-width: 600px;
  fill: rgb(var(--foreground-rgb));
}

.XLogo:hover {
  filter: drop-shadow(5px 5px 15px #fff);
}

.or {
  margin: 15px 0;
  width: 300px;
  font-size: 0.9rem;
  text-align: center;
}

.info {
  margin-top: 5px;
  font-size: 0.7rem;
  color: rgb(var(--link-rgb));
}

.info a {
  color: rgb(var(--primary-button-rgb));
}

.info a:hover {
  text-shadow: 0 0 5px rgb(var(--primary-button-rgb));
  text-decoration: underline;
}

.footer {
  padding: 10px;
  width: 100%;
  height: 5%;
}

.footer_list {
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  font-size: 0.8rem;
  color: rgb(var(--link-rgb));
}

.footer_list a {
  margin: 0 7px;
}

.footer_list a:hover {
  text-shadow: 0 0 5px rgb(var(--link-rgb));
  text-decoration: underline;
}

.footer_list span {
  margin: 0 7px;
  display: block;
}
