/* NavMenu */
.navList {
  padding: 4px 0;
}
.navPill {
  display: inline-flex;
  height: 50px;
  padding: 12px;
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 9999px;
  transition: 200ms background-color ease-in;
}
.navPill:hover {
  background-color: rgba(15, 20, 25, 0.1);
}
@media (prefers-color-scheme: dark) {
  .navPill:hover {
    background-color: rgba(231, 233, 234, 0.1);
  }
}
.navTitle {
  margin-left: 20px;
  margin-right: 16px;
  font-size: 20px;
  color: rgb(var(--foreground-rgb));
  display: inline-block;
}
.bold {
  font-weight: bold;
}

.tweet {
  margin: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 28px;
  background-color: rgb(var(--primary-rgb));
  width: 234px;
  height: 52px;
  border-radius: 26px;
  border: none;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 17px;
}
.tweet:hover {
  background-color: rgb(26, 140, 216);
}
.post {
  display: inline-block;
}
.tweet svg {
  display: none;
}
.badge {
  position: absolute;
  top: -6px;
  right: -4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 18px;
  height: 18px;
  background-color: rgb(29, 155, 240);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-radius: 9999px;
  color: rgb(255, 255, 255);
  font-size: 11px;
  font-weight: 400;
  line-height: 12px;
  word-wrap: break-word;
}
/* .bookmarks {
  display: ;
} */

@media all and (max-width: 1300px) {
  .tweet {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .tweet span {
    display: none;
  }
  .tweet svg {
    display: inline-block;
    fill: white;
    width: 24px;
  }
}

@media all and (max-width: 1300px) {
  .navTitle {
    display: none;
  }
}

@media all and (max-height: 764px) {
  .bookmarks {
    display: none;
  }
}

@media all and (max-height: 724px) {
  .premium {
    display: none;
  }
}

@media all and (max-height: 684px) {
  .lists {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  .badge {
    border-color: rgb(0, 0, 0);
  }
}
