/* LikesPage */
.main {
  display: flex;
  flex-flow: column nowrap;
}

/* PrivateMessage */
.meesage {
  margin: 4px;
  padding: 12px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: rgb(var(--private-rgb));
  border-radius: 8px;
}
.lock {
  margin-right: 8px;
}
.text {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
