.lists {
  display: none;
}
.premium {
  display: none;
}
.bookmarks {
  display: none;
}
.business {
  display: none;
}

@media all and (max-height: 764px) {
  .bookmarks {
    display: flex;
  }
}

@media all and (max-height: 704px) {
  .premium {
    display: flex;
  }
}

@media all and (max-height: 644px) {
  .lists {
    display: flex;
  }
}

@media all and (max-height: 584px) {
  .business {
    display: flex;
  }
}
