.background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.9);
}
.relative {
  position: relative;
}

.close {
  padding: 12px;
  position: absolute;
  top: 0;
  left: 0;
}

.fadeIn {
  animation-name: fade-in;
  animation-duration: 300ms;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
