/* FlexButton */
.btn {
  margin: 12px 0;
  padding: 0 16px;
  width: 100%;
  min-width: 36px;
  min-height: 36px;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  transition: 100ms background-color ease-in, 100ms opacity ease-in;
}
.btn.large {
  margin: 24px 0;
  min-height: 52px;
}
.btn.medium {
  margin: 0 0 12px 0;
  min-width: 44px;
  min-height: 44px;
}
.btn:disabled {
  opacity: 0.5;
}
.btn:active:enabled {
  opacity: 0.75;
  transition: none;
}
.theme {
  background: rgb(var(--r-background-start-rgb));
  color: rgb(var(--background-start-rgb));
}
.theme:hover:enabled {
  background: rgb(215, 219, 220);
}
.reverse {
  background: rgb(var(--background-start-rgb));
  border: 1px solid rgb(var(--label-rgb));
  color: rgb(var(--r-backgrond-start-rgb));
}
.reverse:hover:enabled {
  background: rgba(var(--r-background-start-rgb), 0.1);
}
.white {
  background: rgba(255, 255, 255, 1);
}
.white:hover:enabled {
  background: rgba(255, 255, 255, 0.9);
}
.white:active:enabled {
  background: rgba(255, 255, 255, 0.8);
  opacity: 1;
}
.red {
  background: rgb(var(--error-rgb));
  color: #fff;
}
.red:hover:enabled {
  background: rgba(var(--error-rgb), 0.9);
}
.red:active:enabled {
  background: rgba(var(--error-rgb), 0.8);
  opacity: 1;
}
.primary {
  background: rgb(var(--primary-rgb));
  color: #fff;
}
.primary:hover:enabled {
  background: rgba(var(--primary-rgb), 0.9);
}
.primary:active:enabled {
  background: rgba(var(--primary-rgb), 0.8);
  opacity: 1;
}
.btnText {
  font-size: 15px;
  font-weight: 700;
  color: inherit;
  line-height: 20px;
}
.btnText.large {
  font-size: 17px;
}
.btnText.medium {
  font-size: 15px;
}

/* CloseBtn */
.closeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 36px;
  min-height: 36px;
  background: transparent;
  border: none;
  border-radius: 17px;
  cursor: pointer;
}
.closeBtn:hover:enabled {
  background: rgb(var(--border-start-rgb));
}
.closeBtn:active:enabled {
  background: rgba(var(--border-start-rgb), 0.75);
}
.closeBtn:disabled {
  opacity: 0.5;
}

/* PasswordButton */
.passwordBtn {
  background: transparent;
  border: none;
  cursor: pointer;
}
.passwordBtn:hover {
  filter: drop-shadow(1px 1px 1px rgb(var(--foreground-rgb)));
}
