/* FlexButton */
.btn {
  margin: 12px 0;
  padding: 0 16px;
  width: 100%;
  min-width: 36px;
  min-height: 36px;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  transition: 100ms background-color ease-in, 100ms opacity ease-in;
}
.btn.large {
  margin: 24px 0;
  min-height: 52px;
}
.btn.medium {
  margin: 0 0 12px 0;
  min-width: 44px;
  min-height: 44px;
}
.btn:disabled {
  opacity: 0.5;
}
.btn:active:enabled {
  opacity: 0.75;
  transition: none;
}

.grow {
  flex-grow: 1;
}
.theme {
  background: rgb(var(--r-background-start-rgb));
  color: rgb(var(--background-start-rgb));
}
.theme:hover:enabled {
  background-color: rgb(39, 44, 48);
}

.reverse {
  background: rgb(var(--background-start-rgb));
  border: 1px solid rgb(var(--label-rgb));
  color: rgb(var(--r-backgrond-start-rgb));
}
.reverse:hover:enabled {
  background: rgba(var(--r-background-start-rgb), 0.1);
}
.white {
  background: rgba(255, 255, 255, 1);
}
.white:hover:enabled {
  background: rgba(255, 255, 255, 0.9);
}
.white:active:enabled {
  background: rgba(255, 255, 255, 0.8);
  opacity: 1;
}
.red {
  background: rgb(var(--error-rgb));
  color: #fff;
}
.red:hover:enabled {
  background: rgba(var(--error-rgb), 0.9);
}
.red:active:enabled {
  background: rgba(var(--error-rgb), 0.8);
  opacity: 1;
}
.primary {
  background: rgb(var(--primary-rgb));
  color: #fff;
}
.primary:hover:enabled {
  background: rgba(var(--primary-rgb), 0.9);
}
.primary:active:enabled {
  background: rgba(var(--primary-rgb), 0.8);
  opacity: 1;
}
.secondary {
  background: rgb(0, 201, 209);
  border: 1px solid rgb(83, 100, 113);
  color: #fff;
}
.secondary:hover:enabled {
  background: rgb(0, 181, 188);
}
.secondary:active:enabled {
  background: rgb(0, 161, 167);
  opacity: 1;
}
.btnText {
  font-size: 15px;
  font-weight: 700;
  color: inherit;
  line-height: 20px;
}
.btnText.large {
  font-size: 17px;
}
.btnText.medium {
  font-size: 15px;
}
.transparent {
  background: transparent;
  border: 1px solid transparent;
  color: rgb(var(--font-theme-rgb));
}
.transparent:hover:enabled {
  background: rgba(239, 243, 244, 0.1);
}
.transparent:active:enabled {
  background: rgba(239, 243, 244, 0.2);
  opacity: 1;
}
.underline {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

/* CloseBtn */
.closeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 36px;
  min-height: 36px;
  background: transparent;
  border: none;
  border-radius: 17px;
  cursor: pointer;
}
.closeBtn:hover:enabled {
  background: rgb(var(--border-start-rgb));
}
.closeBtn:active:enabled {
  background: rgba(var(--border-start-rgb), 0.75);
}
.closeBtn:disabled {
  opacity: 0.5;
}

/* PasswordButton */
.passwordBtn {
  background: transparent;
  border: none;
  cursor: pointer;
}
.passwordBtn:hover {
  filter: drop-shadow(1px 1px 1px rgb(var(--foreground-rgb)));
}

@media (prefers-color-scheme: dark) {
  .theme:hover:enabled {
    background-color: rgb(215, 219, 220);
  }
}
