.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  max-width: 600px;
}
.inner {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}
.head {
  padding: 48px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  background: transparent;
  overflow: auto;
}
.svg {
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.body {
  margin: 32px;
  max-width: 400px;
}
.text {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title {
  margin-bottom: 8px;
}
