/* MainSectionController */
.main {
  width: 100%;
  max-width: 600px;
  min-height: 100dvh;
  border-right-style: solid;
  border-right-width: 1px;
  border-color: rgb(var(--border-start-rgb));
}
.flex_column {
  display: flex;
  flex-direction: column;
  flex: 2 1;
}

@media screen and (max-width: 672px) {
  .main {
    border: none;
  }
}

@media screen and (max-width: 720px) {
  .main {
    max-width: 100%;
  }
}

/* RightSectionController */
.rightSection {
  margin-right: 25px;
  display: flex;
  flex-flow: column nowrap;
  flex: 1 2;
}

@media all and (max-width: 1020px) {
  .rightSection {
    display: none;
  }
}
