.emojiPicker {
  position: relative;
}

.emojiContainer {
  position: absolute;
}

.emojiOutside {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.top {
  animation-name: fade-in-top;
  animation-duration: 0.2s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
}

.bottom {
  animation-name: fade-in-bottom;
  animation-duration: 0.2s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
}

.fadeOut {
  visibility: hidden;
  opacity: 0;
  animation-name: fade-out;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}

@keyframes fade-in-top {
  from {
    visibility: hidden;
    opacity: 0;
    transform: translateY(35px);
    filter: blur(5px);
  }
  to {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-bottom {
  from {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-35px);
    filter: blur(5px);
  }
  to {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
    filter: blur(15px);
  }
}
