/* margin */
.ma_auto.ma_auto {
  margin: auto;
}
.ma_0.ma_0 {
  margin: 0;
}
.ma_2.ma_2 {
  margin: 2px;
}
.ma_4.ma_4 {
  margin: 4px;
}
.ma_6.ma_6 {
  margin: 6px;
}
.ma_8.ma_8 {
  margin: 8px;
}
.ma_10.ma_10 {
  margin: 10px;
}
.ma_12.ma_12 {
  margin: 12px;
}
.ma_14.ma_14 {
  margin: 14px;
}
.ma_16.ma_16 {
  margin: 16px;
}
.ma_18.ma_18 {
  margin: 18px;
}
.ma_20.ma_20 {
  margin: 20px;
}
.mt_0.mt_0 {
  margin-top: 0;
}
.mt_2.mt_2 {
  margin-top: 2px;
}
.mt_4.mt_4 {
  margin-top: 4px;
}
.mt_6.mt_6 {
  margin-top: 6px;
}
.mt_7 {
  margin-top: 7px;
}
.mt_8.mt_8 {
  margin-top: 8px;
}
.mt_10.mt_10 {
  margin-top: 10px;
}
.mt_12.mt_12 {
  margin-top: 12px;
}
.mt_14.mt_14 {
  margin-top: 14px;
}
.mt_16.mt_16 {
  margin-top: 16px;
}
.mt_20 {
  margin-top: 20px;
}
.mt_30.mt_30 {
  margin-top: 30px;
}
.mt_32.mt_32 {
  margin-top: 32px;
}
.mt_48.mt_48 {
  margin-top: 48px;
}
.mr_0.mr_0 {
  margin-right: 0;
}
.mr_2.mr_2 {
  margin-right: 2px;
}
.mr_4.mr_4 {
  margin-right: 4px;
}
.mr_6.mr_6 {
  margin-right: 6px;
}
.mr_8.mr_8 {
  margin-right: 8px;
}
.mr_10.mr_10 {
  margin-right: 10px;
}
.mr_11 {
  margin-right: 11px;
}
.mr_12.mr_12 {
  margin-right: 12px;
}
.mr_14.mr_14 {
  margin-right: 14px;
}
.mr_16.mr_16 {
  margin-right: 16px;
}
.mb_0.mb_0 {
  margin-bottom: 0;
}
.mb_2.mb_2 {
  margin-bottom: 2px;
}
.mb_4.mb_4 {
  margin-bottom: 4px;
}
.mb_6.mb_6 {
  margin-bottom: 6px;
}
.mb_8.mb_8 {
  margin-bottom: 8px;
}
.mb_10.mb_10 {
  margin-bottom: 10px;
}
.mb_12.mb_12 {
  margin-bottom: 12px;
}
.mb_14.mb_14 {
  margin-bottom: 14px;
}
.mb_16.mb_16 {
  margin-bottom: 16px;
}
.mb_28.mb_28 {
  margin-bottom: 28px;
}
.mb_32.mb_32 {
  margin-bottom: 32px;
}
.ml_0.ml_0 {
  margin-left: 0;
}
.ml_2.ml_2 {
  margin-left: 2px;
}
.ml_4.ml_4 {
  margin-left: 4px;
}
.ml_6.ml_6 {
  margin-left: 6px;
}
.ml_8.ml_8 {
  margin-left: 8px;
}
.ml_10.ml_10 {
  margin-left: 10px;
}
.ml_11 {
  margin-left: 11px;
}
.ml_12.ml_12 {
  margin-left: 12px;
}
.ml_14.ml_14 {
  margin-left: 14px;
}
.ml_16.ml_16 {
  margin-left: 16px;
}
.mtb_4 {
  margin-top: 4px;
  margin-bottom: 4px;
}
.mtb_8 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.mtb_20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mtb_24 {
  margin-top: 24px;
  margin-bottom: 24px;
}
.mtb_32 {
  margin-top: 32px;
  margin-bottom: 32px;
}
.mrl_auto {
  margin-right: auto;
  margin-left: auto;
}
.mrl_4 {
  margin-right: 4px;
  margin-left: 4px;
}
.mrl_12 {
  margin-right: 12px;
  margin-left: 12px;
}
.mrl_32 {
  margin-right: 32px;
  margin-left: 32px;
}

/* padding */
.pa_0.pa_0 {
  padding: 0;
}
.pa_2.pa_2 {
  padding: 2px;
}
.pa_4.pa_4 {
  padding: 4px;
}
.pa_6.pa_6 {
  padding: 6px;
}
.pa_8.pa_8 {
  padding: 8px;
}
.pa_10.pa_10 {
  padding: 10px;
}
.pa_12.pa_12 {
  padding: 12px;
}
.pa_14.pa_14 {
  padding: 14px;
}
.pa_16.pa_16 {
  padding: 16px;
}
.pa_18.pa_18 {
  padding: 18px;
}
.pa_19 {
  padding: 19px;
}
.pa_20.pa_20 {
  padding: 20px;
}
.pt_m_16 {
  padding-top: -16px;
}
.pt_0.pt_0 {
  padding-top: 0;
}
.pt_2.pt_2 {
  padding-top: 2px;
}
.pt_4.pt_4 {
  padding-top: 4px;
}
.pt_6.pt_6 {
  padding-top: 6px;
}
.pt_8.pt_8 {
  padding-top: 8px;
}
.pt_10.pt_10 {
  padding-top: 10px;
}
.pt_12.pt_12 {
  padding-top: 12px;
}
.pt_14.pt_14 {
  padding-top: 14px;
}
.pt_16.pt_16 {
  padding-top: 16px;
}
.pt_48.pt_48 {
  padding-top: 48px;
}
.pt_100.pt_100 {
  padding-top: 100%;
}
.pr_0.pr_0 {
  padding-right: 0;
}
.pr_2.pr_2 {
  padding-right: 2px;
}
.pr_4.pr_4 {
  padding-right: 4px;
}
.pr_6.pr_6 {
  padding-right: 6px;
}
.pr_8.pr_8 {
  padding-right: 8px;
}
.pr_10.pr_10 {
  padding-right: 10px;
}
.pr_12.pr_12 {
  padding-right: 12px;
}
.pr_14.pr_14 {
  padding-right: 14px;
}
.pr_16.pr_16 {
  padding-right: 16px;
}
.pr_28_75 {
  padding-right: 28.75px;
}
.pr_30 {
  padding-right: 30px;
}
.pr_32.pr_32 {
  padding-right: 16px;
}
.pr_70.pr_70 {
  padding-right: 70px;
}
.pb_0.pb_0 {
  padding-bottom: 0;
}
.pb_2.pb_2 {
  padding-bottom: 2px;
}
.pb_4.pb_4 {
  padding-bottom: 4px;
}
.pb_6.pb_6 {
  padding-bottom: 6px;
}
.pb_8.pb_8 {
  padding-bottom: 8px;
}
.pb_10.pb_10 {
  padding-bottom: 10px;
}
.pb_11 {
  padding-bottom: 11px;
}
.pb_12.pb_12 {
  padding-bottom: 12px;
}
.pb_14.pb_14 {
  padding-bottom: 14px;
}
.pb_16.pb_16 {
  padding-bottom: 16px;
}
.pb_24 {
  padding-bottom: 24px;
}
.pb_32 {
  padding-bottom: 32px;
}
.pb_48.pb_48 {
  padding-bottom: 48px;
}
.pb_50p {
  padding-bottom: 50%;
}
.pb_100.pb_100 {
  padding-bottom: 100%;
}
.pb_200p {
  padding-bottom: 200%;
}
.pl_0.pl_0 {
  padding-left: 0;
}
.pl_2.pl_2 {
  padding-left: 2px;
}
.pl_3 {
  padding-left: 3px;
}
.pl_4.pl_4 {
  padding-left: 4px;
}
.pl_6.pl_6 {
  padding-left: 6px;
}
.pl_8.pl_8 {
  padding-left: 8px;
}
.pl_10.pl_10 {
  padding-left: 10px;
}
.pl_11 {
  padding-left: 11px;
}
.pl_12.pl_12 {
  padding-left: 12px;
}
.pl_14.pl_14 {
  padding-left: 14px;
}
.pl_16.pl_16 {
  padding-left: 16px;
}
.pl_32.pl_32 {
  padding-left: 32px;
}
.pl_70.pl_70 {
  padding-left: 70px;
}
.p_basic {
  padding: 12px 16px;
}
.p_small {
  padding: 2px 8px 0 8px;
}
.ptb_2 {
  padding-top: 2px;
  padding-bottom: 2px;
}
.ptb_4 {
  padding-top: 4px;
  padding-bottom: 4px;
}
.ptb_8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.ptb_12 {
  padding-top: 12px;
  padding-bottom: 12px;
}
.ptb_16 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.ptb_20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.prl_4 {
  padding-right: 4px;
  padding-left: 4px;
}
.prl_12 {
  padding-right: 12px;
  padding-left: 12px;
}
.prl_16 {
  padding-right: 16px;
  padding-left: 16px;
}
.prl_32 {
  padding-right: 32px;
  padding-left: 32px;
}
.prl_80 {
  padding-right: 80px;
  padding-left: 80px;
}

/* position */
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.sticky {
  position: sticky;
}
.fixed {
  position: fixed;
}

/* positioning */
.t_0 {
  top: 0;
}
.t_4 {
  top: 4px;
}
.t_l_0 {
  top: 0;
  left: 0;
}
.t_r_0 {
  top: 0;
  right: 0;
}
.b_0 {
  bottom: 0;
}
.b_12 {
  bottom: 12px;
}
.b_l_0 {
  bottom: 0;
  left: 0;
}
.r_4 {
  right: 4px;
}
.l_4 {
  left: 4px;
}
.b_r_0 {
  bottom: 0;
  right: 0;
}
.t_r_b_l_0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.zIndex_xs {
  z-index: -1;
}
.zIndex_s {
  z-index: 1;
}
.zIndex_m {
  z-index: 5;
}
.zIndex_l {
  z-index: 10;
}
.zIndex_xl {
  z-index: 50;
}
.zIndex_xxl {
  z-index: 99;
}
.zIndex_xxxl {
  z-index: 999;
}

/* display */
.d_block {
  display: block;
}
.d_iblock {
  display: inline-block;
}
.d_inline {
  display: inline;
}
.d_flexRow {
  display: flex;
  flex-direction: row;
}
.d_flexColumn {
  display: flex;
  flex-direction: column;
}
.d_flexInline {
  display: inline-flex;
}

/* flex */
.flex_alignStretch {
  align-items: stretch;
}
.flex_alignStart {
  align-items: flex-start;
}
.flex_alignCenter {
  align-items: center;
}
.flex_alignEnd {
  align-items: flex-end;
}
.flex_alignBase {
  align-items: baseline;
}
.flex_alignSelfStretch {
  align-self: stretch;
}
.flex_alignSelfStart {
  align-self: flex-start;
}
.flex_alignSelfCenter {
  align-self: center;
}
.flex_alignSelfEnd {
  align-self: flex-end;
}
.flex_alignSelfBase {
  align-self: baseline;
}
.flex_justiStretch {
  justify-content: stretch;
}
.flex_justiStart {
  justify-content: flex-start;
}
.flex_justiCenter {
  justify-content: center;
}
.flex_justiEnd {
  justify-content: flex-end;
}
.flex_justiBetween {
  justify-content: space-between;
}
.flex_1_1_0 {
  flex: 1 1 0;
}
.flex_1 {
  flex: 1;
}
.flex_2 {
  flex: 2;
}
.flex_3 {
  flex: 3;
}
.flexGrow_0 {
  flex-grow: 0;
}
.flexGrow_1 {
  flex-grow: 1;
}
.flexGrow_2 {
  flex-grow: 2;
}
.flexGrow_3 {
  flex-grow: 3;
}
.flexShrink_0 {
  flex-shrink: 0;
}
.flexShrink_1 {
  flex-shrink: 1;
}
.flexWrap {
  flex-wrap: wrap;
}
.flexNoWrap {
  flex-wrap: nowrap;
}
.flexOrder_1 {
  order: 1;
}
.flexOrder_2 {
  order: 2;
}
.flexOrder_3 {
  order: 3;
}
.flexOrder_4 {
  order: 4;
}
.flexOrder_5 {
  order: 5;
}
.flexOrder_6 {
  order: 6;
}
.flexBasis_0 {
  flex-basis: 0;
}
.flexBasis_40 {
  flex-basis: 40px;
}
.gap_4 {
  gap: 4px;
}
.gap_12 {
  gap: 12px;
}
.alignself_start {
  align-self: flex-start;
}
.alignself_end {
  align-self: flex-end;
}
.alignself_center {
  align-self: center;
}

/* width */
.w_100p.w_100p {
  width: 100%;
}
.w_875p {
  width: 87.5%;
}
.w_auto.w_auto {
  width: auto;
}
.w_0 {
  width: 0px;
}
.w_10 {
  width: 10px;
}
.w_34 {
  width: 34px;
}
.w_40 {
  width: 40px;
}
.w_75 {
  width: 75px;
}
.w_80 {
  width: 80px;
}
.w_min_0 {
  min-width: 0;
}
.w_min_24 {
  min-width: 24px;
}
.w_min_32 {
  min-width: 32px;
}
.w_min_36 {
  min-width: 36px;
}
.w_min_40 {
  min-width: 40px;
}
.w_min_99 {
  min-width: 99px;
}
.w_min_320 {
  min-width: 320px;
}
.w_min_10em {
  min-width: 10em;
}
.w_min_100p.w_min_100p {
  min-width: 100%;
}
.w_min_auto.w_min_auto {
  min-width: auto;
}
.w_min_52 {
  min-width: 52px;
}
.w_min_56 {
  min-width: 56px;
}
.w_max_none.w_max_none {
  max-width: none;
}
.w_max_320 {
  max-width: 320px;
}
.w_max_400 {
  max-width: 400px;
}
.w_max_600 {
  max-width: 600px;
}
.w_max_100p.w_max_100p {
  max-width: 100%;
}
.w_max_auto.w_max_auto {
  max-width: auto;
}

/* height */
.h_100p.h_100p {
  height: 100%;
}
.h_auto.h_auto {
  height: auto;
}
.h_0 {
  height: 0px;
}
.h_10 {
  height: 10px;
}
.h_34 {
  height: 34px;
}
.h_40 {
  height: 40px;
}
.h_53 {
  height: 53px;
}
.h_02_rem {
  height: 0.2rem;
}
.h_min_20 {
  min-height: 20px;
}
.h_min_24 {
  min-height: 24px;
}
.h_min_32 {
  min-height: 32px;
}
.h_min_36 {
  min-height: 36px;
}
.h_min_52 {
  min-height: 52px;
}
.h_min_56 {
  min-height: 56px;
}
.h_min_100dvh {
  min-height: 100dvh;
}
.h_max_none.h_max_none {
  max-height: none;
}
.h_max_10rem {
  max-height: 10rem;
}
.h_max_32 {
  max-height: 32px;
}
.h_max_40 {
  max-height: 40px;
}
.h_max_160 {
  max-height: 160px;
}
.h_max_600 {
  max-height: 600px;
}
.h_max_35vh {
  max-height: 35vh;
}
.h_max_100dvh {
  max-height: 100dvh;
}
.h_max_100p {
  max-height: 100%;
}

.resize_none {
  resize: none;
}

/* background */
.bg_theme {
  background: rgb(var(--background-start-rgb));
}
.bg_theme_a_65 {
  background: rgba(var(--background-start-rgb), 0.65);
}
.bg_reverse {
  background: rgb(var(--r-background-start-rgb));
}
.bg_reverse_a_65 {
  background: rgba(var(--r-background-start-rgb), 0.65);
}
.bg_gray {
  background-color: rgba(247, 249, 249, 1);
}
.bg_gray_a_75 {
  background-color: rgba(15, 20, 25, 0.75);
}
.bg_gray_light {
  background-color: rgb(239, 243, 244);
}
.bg_modal {
  background: rgba(var(--background-modal-rgb), 0.4);
}
.bg_primary {
  background-color: rgb(var(--primary-rgb));
}
.bg_trans {
  background: transparent;
}

@media (prefers-color-scheme: dark) {
  .bg_gray {
    background-color: rgb(22, 24, 28);
  }
  .bg_gray_light {
    background-color: rgb(32, 35, 39);
  }
}

/* box-shadow */
.box_basic {
  box-shadow: rgba(217, 217, 217, 0.2) 0px 0px 5px,
    rgba(217, 217, 217, 0.25) 0px 1px 4px;
}
.box_media {
  box-shadow: rgb(229, 234, 236) 0px 2px 12px;
}

@media (prefers-color-scheme: dark) {
  .box_media {
    box-shadow: rgb(42, 45, 48) 0px 2px 12px;
  }
}

/* opacity */
.opacity_0 {
  opacity: 0;
}
.opacity_0_5 {
  opacity: 0.5;
}
.opacity_1 {
  opacity: 1;
}

/* visibility */
.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}

/* border */
.bd_none.bd_none {
  border: none;
}
.bd_1_solid_trans.bd_1_solid_trans {
  border: 1px solid transparent;
}
.bd_1_solid_theme.bd_1_solid_theme {
  border: 1px solid rgb(var(--background-start-rgb));
}
.bd_1_solid_reverse.bd_1_solid_reverse {
  border: 1px solid rgb(var(--r-background-start-rgb));
}
.bd_1_solid_gray.bd_1_solid_gray {
  border: 1px solid rgb(var(--border-start-rgb));
}
.bd_1_solid_black {
  border: 1px solid rgb(0, 0, 0);
}
.bd_t_1_solid_gray.bd_t_1_solid_gray {
  border-top: 1px solid rgb(var(--border-start-rgb));
}
.bd_r_1_solid_gray.bd_r_1_solid_gray {
  border-right: 1px solid rgb(var(--border-start-rgb));
}
.bd_b_1_solid_gray.bd_b_1_solid_gray {
  border-bottom: 1px solid rgb(var(--border-start-rgb));
}
.bd_l_1_solid_gray.bd_l_1_solid_gray {
  border-left: 1px solid rgb(var(--border-start-rgb));
}
.bw_1 {
  border-width: 1px;
}
.bw_2 {
  border-width: 2px;
}
.bw_t_1 {
  border-top-width: 1px;
}
.bw_t_2 {
  border-top-width: 2px;
}
.bw_r_1 {
  border-right-width: 1px;
}
.bw_r_2 {
  border-right-width: 2px;
}
.bw_b_1 {
  border-bottom-width: 1px;
}
.bw_b_2 {
  border-bottom-width: 2px;
}
.bw_l_1 {
  border-left-width: 1px;
}
.bw_l_2 {
  border-left-width: 2px;
}
.br_0.br_0 {
  border-radius: 0;
}
.br_4 {
  border-radius: 4px;
}
.br_12 {
  border-radius: 12px;
}
.br_16.br_16 {
  border-radius: 16px;
}
.br_24 {
  border-radius: 24px;
}
.br_50.br_50 {
  border-radius: 50%;
}
.br_9999.br_9999 {
  border-radius: 9999px;
}
.bc_gray {
  border-color: rgb(var(--border-start-rgb));
}
.bc_primary {
  border-color: rgb(var(--primary-rgb));
}
.bc_r_primary {
  border-right-color: rgb(var(--primary-rgb));
}
.bs_solid {
  border-style: solid;
}
.bs_r_solid {
  border-right-style: solid;
}

.outline_none {
  outline: none;
}

/* font */
.fs_11 {
  font-size: 11px;
}
.fs_xs.fs_xs {
  font-size: 13px;
}
.fs_s.fs_s {
  font-size: 14px;
}
.fs_m.fs_m {
  font-size: 15px;
}
.fs_l.fs_l {
  font-size: 17px;
}
.fs_xl.fs_xl {
  font-size: 20px;
}
.fs_27 {
  font-size: 27px;
}
.fs_xxl.fs_xxl {
  font-size: 31px;
}
.fs_37 {
  font-size: 37px;
}
.fw_bold.fw_bold {
  font-weight: bold;
}
.fw_normal.fw_normal {
  font-weight: normal;
}
.fw_light.fw_light {
  font-weight: lighter;
}
.fw_s.fw_s {
  font-weight: 400;
}
.fw_m.fw_m {
  font-weight: 600;
}
.fw_l.fw_l {
  font-weight: 700;
}
.fw_xl.fw_xl {
  font-weight: 800;
}

/* line-height */
.lh_12 {
  line-height: 12px;
}

/* color */
.cl_theme.cl_theme {
  color: rgb(var(--foreground-rgb));
}
.cl_reverse.cl_reverse {
  color: rgb(var(--background-start-rgb));
}
.cl_temporary.cl_temporary {
  color: rgb(var(--link-rgb));
}
.cl_primary.cl_primary {
  color: rgb(var(--primary-rgb));
}
.cl_error {
  color: rgb(var(--error-rgb));
}
.cl_inherit {
  color: inherit;
}

/* fill */
.fill_current {
  fill: currentColor;
}

/* image */
.obj_cover {
  object-fit: cover;
}
.obj_contain {
  object-fit: contain;
}
.ratio_unset.ratio_unset {
  aspect-ratio: unset;
}
.ratio_1.ratio_1 {
  aspect-ratio: 1 / 1;
}

/* filter */
.backdrop_blur_s {
  backdrop-filter: blur(5px);
}
.backdrop_blur_m {
  backdrop-filter: blur(8px);
}
.backdrop_blur_l {
  backdrop-filter: blur(12px);
}

/* cursor */
.cursor_none.cursor_none {
  cursor: none;
}
.cursor_point.cursor_point {
  cursor: pointer;
}
.cursor_text {
  cursor: text;
}
.cursor_default {
  cursor: default;
}

/* pointer event */
.pointer_event_none {
  pointer-events: none;
}

/* overflow */
.of_hide {
  overflow: hidden;
}
.of_auto {
  overflow: auto;
}
.of_x_hide {
  overflow-x: hidden;
}
.of_x_auto {
  overflow-x: auto;
}
.of_y_hide {
  overflow-y: hidden;
}
.of_y_auto {
  overflow-y: auto;
}

/* transition */
.transit_basic {
  transition-duration: 200ms;
  transition-property: background-color, box-shadow;
}
.transit_opacity {
  transition-duration: 300ms;
  transition-property: opacity;
}
.transit_visibility {
  transition-duration: 300ms;
  transition-property: visibility opacity;
}
.transit_width {
  transition-duration: 500ms;
  transition-property: width;
  transition-timing-function: linear;
}

/* link */
.link {
  color: rgb(var(--primary-rgb));
}
.link:hover {
  text-decoration: underline;
}

/* hover */
.hover_bg_gray:hover {
  background-color: rgba(247, 249, 249, 1);
}
.hover_bg_gray_a_75:hover {
  background-color: rgba(39, 44, 48, 0.75);
}
.hover_bg_gray_light:hover {
  background-color: rgb(215, 219, 220);
}
.hover_bg_gray_a_1:hover {
  background-color: rgba(15, 20, 25, 0.1);
}
.hover_bg_primary:hover {
  background-color: rgb(26, 140, 216);
}
.hover_bg_primary_a_1:hover {
  background-color: rgba(29, 155, 240, 0.1);
}
.hover_underline:hover {
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  .hover_bg_gray:hover {
    background-color: rgb(22, 24, 28);
  }
  .hover_bg_gray_a_1:hover {
    background-color: rgba(239, 243, 244, 0.1);
  }
  .hover_bg_gray_light:hover {
    background-color: rgb(54, 57, 61);
  }
}

/* active */
.active_bg_gray:active {
  background-color: rgba(230, 236, 240, 0.7);
}
.active_bg_gray_a_75:active {
  background-color: rgba(63, 67, 61, 0.75);
}
.active_bg_gray_light:active {
  background-color: rgb(191, 194, 195);
}
.active_bg_gray_a_1:active {
  background-color: rgba(10, 20, 25, 0.2);
}
.active_bg_primary:active {
  background-color: rgb(23, 130, 192);
}
.active_bg_primary_a_2:active {
  background-color: rgba(29, 155, 240, 0.2);
}

@media (prefers-color-scheme: dark) {
  .active_bg_gray:active {
    background-color: rgb(51, 51, 51);
  }
  .active_bg_gray_a_1:active {
    background-color: rgba(239, 243, 244, 0.2);
  }
  .active_bg_gray_light:active {
    background-color: rgb(77, 79, 82);
  }
}

/* addOn */
.addOn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 36px;
  min-height: 36px;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 9999px;
  transition-duration: 200ms;
  transition-property: background-color;
  outline: none;
  cursor: pointer;
}
.addOn:hover {
  background: rgba(var(--button-hover-rgb), 0.1);
}

/* badge */
.badge {
  padding: 0 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  background: rgb(var(--primary-rgb));
  border-radius: 4px;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
}

/* animation */
.fadeIn {
  animation-name: fade-in;
  animation-duration: 300ms;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
}
@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
.fadeOut {
  animation-name: fade-out;
  animation-duration: 300ms;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}
@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.slide_left_in {
  animation-name: slide-left-in;
  animation-duration: 300ms;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
}
@keyframes slide-left-in {
  from {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
}
.slide_right_in {
  animation-name: slide-right-in;
  animation-duration: 300ms;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
}
@keyframes slide-right-in {
  from {
    visibility: hidden;
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
}
.maxHeight {
  animation-name: maxHeight;
  animation-timing-function: ease;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
}
@keyframes maxHeight {
  from {
    max-height: 0;
  }
  to {
    max-height: 1000px;
  }
}
