.container {
  position: relative;
  display: flex;
  align-items: stretch;
  height: 100dvh;
}

.leftSectionWrapper {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  flex-grow: 1;
}

.leftSection {
  width: 275px;
  height: 100dvh;
}
.leftSectionFixed {
  padding: 0 8px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2;
  width: inherit;
  height: 100dvh;
  border-right-style: solid;
  border-right-width: 1px;
  border-color: rgb(var(--border-start-rgb));
  overflow-x: hidden;
  overflow-y: auto;
}

.leftSectionFixed nav {
  flex: 1;
}
.leftSectionFixed nav li {
  list-style-type: none;
}

.logo {
  margin-top: 2px;
  display: inline-block;
  min-width: 52px;
  min-height: 52px;
  background: transparent;
  border: none;
  border-radius: 9999px;
  transition: 200ms background-color ease-in;
  cursor: pointer;
}
.logo:hover {
  background: rgba(15, 20, 25, 0.1);
}

@media (prefers-color-scheme: dark) {
  .logo:hover {
    background-color: rgba(239, 243, 244, 0.1);
  }
}

.XLogo {
  fill: rgb(var(--foreground-rgb));
}

.logoPill {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoPill:hover .XLogo {
  filter: drop-shadow(2px 2px 2px #fff);
}

.rightSectionWrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-grow: 1;
}
.rightSectionInner {
  display: flex;
  justify-content: space-between;
  width: 1050px;
}

/* viewport 가 1300 px 이하일 경우 */
/* NavBar 가 아이콘만 표시되고 가운데 정렬 된다. */
@media screen and (max-width: 1300px) {
  .leftSection {
    width: 88px;
  }
  .leftSectionFixed {
    align-items: center;
  }
}

/* viewport 가 1110 px 이하일 경우 */
/* rightSection 의 width 를 줄인다. */
@media all and (max-width: 1110px) {
  .rightSectionInner {
    width: 990px;
  }
}

/* viewport 가 1020 px 이하일 경우 */
/* rightSection 이 없어진다. */
@media all and (max-width: 1020px) {
  .container {
    justify-content: center;
  }
  .leftSectionWrapper {
    flex-grow: unset;
  }
  .rightSectionWrapper {
    max-width: 600px;
  }
  .rightSectionInner {
    max-width: 600px;
    width: 100%;
  }
}

/* viewport 가 720 px 이하일 경우 */
/* NavBar 의 여백이 줄어든다. */
@media screen and (max-width: 720px) {
  .leftSection {
    width: 72px;
  }
}

/* viewport 가 720 px 이하일 경우 */
/* NavBar 의 여백이 줄어든다. */
@media screen and (max-width: 632px) {
  .leftSection {
    padding: 0;
    width: 68px;
  }
  .leftSectionFixed {
    padding: 0;
    /* width: unset; */
  }
}
