.container {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.leftSectionWrapper {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  align-items: center;
  flex-basis: 275px;
  flex-shrink: 0;
  border-right-style: solid;
  border-right-width: 1px;
  border-color: rgb(var(--border-start-rgb));
  transition-duration: 100ms;
  transition-property: flex-basis;
  transition-timing-function: linear;
}
.leftSectionInner {
  padding-right: 8px;
  padding-left: 8px;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2;
  height: 100dvh;
}

.leftSectionInner nav {
  flex: 1;
}
.leftSectionInner nav li {
  list-style-type: none;
}

.logo {
  margin-top: 2px;
  display: inline-block;
  min-width: 52px;
  min-height: 52px;
  background: transparent;
  border: none;
  border-radius: 9999px;
  transition: 200ms background-color ease-in;
  cursor: pointer;
}
.logo:hover {
  background: rgba(15, 20, 25, 0.1);
}

@media (prefers-color-scheme: dark) {
  .logo:hover {
    background-color: rgba(239, 243, 244, 0.1);
  }
}

.XLogo {
  fill: rgb(var(--foreground-rgb));
}

.logoPill {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoPill:hover .XLogo {
  filter: drop-shadow(2px 2px 2px #fff);
}

.rightSectionWrapper {
  display: flex;
  align-items: flex-start;
  flex-basis: 1050px;
  width: 100%;
  max-width: 1050px;
}
.rightSectionInner {
  display: flex;
  flex: 1 1;
  gap: 25px;
  width: 100%;
}

/* viewport 가 1300 px 이하일 경우 */
/* NavBar 가 아이콘만 표시되고 가운데 정렬 된다. */
@media screen and (max-width: 1300px) {
  .leftSectionWrapper {
    flex-basis: 88px;
  }
  .leftSectionInner {
    align-items: center;
  }
}

/* viewport 가 1110 px 이하일 경우 */
/* rightSection 의 width 를 줄인다. */
@media all and (max-width: 1110px) {
}

/* viewport 가 1020 px 이하일 경우 */
/* rightSection 이 없어진다. */
@media all and (max-width: 1020px) {
  .container {
    justify-content: center;
  }
  .rightSectionWrapper {
    max-width: 600px;
  }
}

/* viewport 가 720 px 이하일 경우 */
/* NavBar 의 여백이 줄어든다. */
@media screen and (max-width: 720px) {
  .leftSectionWrapper {
    flex-basis: 72px;
  }
  .rightSectionWrapper {
    max-width: calc(100% - 72px);
  }
}
@media screen and (max-width: 720px) and (max-height: 500px) {
  .rightSectionWrapper {
    max-width: 100%;
  }
}

/* viewport 가 720 px 이하일 경우 */
/* NavBar 의 여백이 줄어든다. */
@media screen and (max-width: 632px) {
  .leftSectionWrapper {
    padding: 0;
    flex-basis: 68px;
  }
  .rightSectionWrapper {
    max-width: calc(100% - 68px);
  }
  .leftSectionInner {
    padding: 0;
  }
}
@media screen and (max-width: 632px) and (max-height: 500px) {
  .rightSectionWrapper {
    max-width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .leftSectionWrapper {
    display: none;
  }
  .rightSectionWrapper {
    max-width: 100%;
  }
}

@media screen and (max-height: 500px) {
  .leftSectionWrapper {
    display: none;
  }
  .rightSectionWrapper {
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgb(var(--border-start-rgb));
  }
}
