.modalGround {
  margin: auto;
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  animation-name: fade-in;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
}

.modalContent {
  margin-bottom: 32px;
  padding: 12px;
  border-radius: 4px;
  color: #fff;
  text-align: center;
}

.modalContent span {
  padding: 0 12px;
  display: block;
}

.fadeOut {
  visibility: hidden;
  opacity: 0;
  animation-name: fade-out;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}

@media screen and (max-width: 616px) {
  .modalGround {
    left: 0;
    width: 100%;
    transform: unset;
  }

  .modalContent {
    margin-bottom: unset;
    width: 100%;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
    filter: blur(5px);
  }
  to {
    visibility: visible;
    opacity: 1;
    filter: unset;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
    filter: blur(5px);
  }
}
