.xLogo {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
  color: rgb(var(--foreground-rgb));
  line-height: 24px;
}
.desc {
  font-size: 15px;
  font-weight: 400;
  color: rgb(var(--link-rgb));
  line-height: 20px;
}
.buttons {
  margin-top: 24px;
  margin-bottom: -12px;
}
