.searchHeader {
  display: flex;
  flex-grow: 1;
}

.searchLists {
  flex-grow: 1;
}
.searchOptions {
  margin-left: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 56px;
  min-height: 32px;
}
.create {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 36px;
  min-height: 36px;
  background: transparent;
  border-radius: 9999px;
  transition-duration: 200ms;
  transition-property: background-color;
}
.create:hover {
  background: rgba(var(--r-background-start-rgb), 0.15);
}
.create:active {
  background: rgba(var(--r-background-start-rgb), 0.3);
}
