.container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
}
.progressBar {
  width: 100%;
  height: 0.2rem;
  user-select: none;
  /* overflow: hidden; */
}
.progress {
  height: 100%;
  background: rgb(var(--primary-rgb));
  transition-duration: 500ms;
  transition-property: width;
}
