.searchBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  background: rgb(var(--background-start-rgb));
  border: 1px solid rgb(51, 54, 57);
  border-radius: 9999px;
  min-height: 40px;
  overflow: hidden;
}
.searchBar:focus-within {
  border: 2px solid rgb(var(--primary-rgb));
}
.searchBar:focus-within .border {
  border: none;
}
.border {
  border: 1px solid transparent;
}
.inner {
  display: flex;
  align-items: center;
  flex-grow: 1;
  cursor: text;
}
.icon {
  padding-left: 12px;
  display: flex;
  align-items: center;
  cursor: default;
}
.inputBox {
  display: flex;
  flex-grow: 1;
}
.input {
  padding: 0 16px 0 4px;
  width: 100%;
  min-height: 40px;
  border: none;
  outline: none;
  font-size: 15px;
  font-weight: 400;
  color: rgb(var(--font-theme-rgb));
  caret-color: rgb(var(--primary-rgb));
  line-height: 20px;
}
.clear {
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 22px;
  min-height: 22px;
  background: rgb(var(--background-start-rgb));
  border: 0 solid rgb(var(--label-rgb));
  border-radius: 9999px;
  fill: rgb(var(--r-background-start-rgb));
  cursor: pointer;
}
.clear:hover:enabled {
  fill: rgba(var(--r-background-start-rgb), 0.9);
}
.clear:active:enabled {
  fill: rgba(var(--r-background-start-rgb), 0.8);
}
