/* beforeLoginRight */
.right {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rightInner {
  padding: 20px;
}
.something {
  font-weight: bold;
  font-size: 64px;
  margin: 48px 0;
}
.joinUs {
  font-weight: bold;
  font-size: 31px;
  margin-bottom: 32px;
}
.question {
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 20px;
  margin-top: 60px;
}
.buttons {
  width: 300px;
}
.mt-15 {
  margin-top: 15px;
}
.or {
  margin: 15px 0;
  width: 300px;
  font-size: 0.9rem;
  text-align: center;
}
.info {
  margin-top: 5px;
  font-size: 0.7rem;
  color: rgb(var(--link-rgb));
}
.info a {
  color: rgb(var(--primary-button-rgb));
}
.info a:hover {
  text-shadow: 0 0 5px rgb(var(--primary-button-rgb));
  text-decoration: underline;
}

/* Login Default */
.login {
  width: 300px;
  height: 40px;
  border-radius: 20px;
  padding: 0 16px;
  font-size: 15px;
  background-color: rgb(var(--primary-button-rgb));
  color: rgb(var(--foreground-rgb));
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 100ms opacity ease-in;
}
.login:hover {
  opacity: 0.8;
}
.login:active {
  opacity: 0.9;
}

/* GoogleLogin */
/* GithubLogin */
.google,
.github {
  position: relative;
  justify-content: flex-start;
  gap: 10px;
  background-color: rgb(var(--background-start-rgb));
  border: 1px solid rgb(207, 217, 222);
  font-weight: 600;
  transition: 100ms background-color ease-in;
  cursor: pointer;
}
.google:hover {
  background-color: rgba(66, 133, 244, 0.08);
}
.google > svg,
.github > svg {
  margin-left: 35px;
}
.github:hover {
  background-color: rgb(230, 230, 230);
}

/* create account */
.create {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

/* Login */
.credential {
  background: rgb(var(--background-start-rgb));
  border: 2px solid rgb(var(--border-start-rgb));
  font-weight: 700;
  color: rgb(var(--primary-button-rgb));
  transition: 100ms background-color ease-in;
}
.credential:hover {
  background-color: rgba(var(--primary-button-rgb), 0.1);
  opacity: 1;
}

@media (prefers-color-scheme: dark) {
  .google,
  .github {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  .google:hover {
    background-color: rgb(230, 230, 230);
  }
  .create {
    background-color: rgb(var(--primary-button-rgb));
  }
}
