/* beforeLoginRight */
.right {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rightInner {
  padding: 20px;
}
.something {
  font-weight: bold;
  font-size: 64px;
  margin: 48px 0;
}
.joinUs {
  font-weight: bold;
  font-size: 31px;
  margin-bottom: 32px;
}
.question {
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 20px;
  margin-top: 60px;
}
.buttons {
  width: 300px;
}
.mt-15 {
  margin-top: 15px;
}
.or {
  margin: 15px 0;
  width: 300px;
  font-size: 0.9rem;
  text-align: center;
}
.info {
  margin-top: 5px;
  font-size: 0.7rem;
  color: rgb(var(--link-rgb));
}
.info a {
  color: rgb(var(--primary-button-rgb));
}
.info a:hover {
  text-shadow: 0 0 5px rgb(var(--primary-button-rgb));
  text-decoration: underline;
}

/* Login Default */
.login {
  width: 300px;
  height: 40px;
  border-radius: 20px;
  padding: 0 16px;
  font-size: 15px;
  background-color: rgb(var(--primary-button-rgb));
  color: rgb(var(--foreground-rgb));
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 100ms opacity ease-in;
}
.login:hover {
  opacity: 0.8;
}
.login:active {
  opacity: 0.9;
}

/* GoogleLogin */
.google {
  position: relative;
  justify-content: flex-start;
  gap: 10px;
  background-color: rgb(var(--foreground-rgb));
  color: rgb(var(--background-start-rgb));
  font-weight: 700;
  cursor: pointer;
}
.google > svg {
  margin-left: 35px;
}

/* GithubLogin */
.github {
  position: relative;
  justify-content: flex-start;
  gap: 10px;
  background-color: rgb(var(--background-start-rgb));
  border: 1px solid rgba(var(--foreground-rgb), 0.75);
  font-weight: 700;
  cursor: pointer;
}
.github > svg {
  margin-left: 35px;
}

/* Login */
.credential {
  background: rgb(var(--background-start-rgb));
  border: 2px solid rgb(var(--border-start-rgb));
  font-weight: 700;
  color: rgb(var(--primary-button-rgb));
  transition: 100ms background-color ease-in;
}
.credential:hover {
  background-color: rgba(var(--primary-button-rgb), 0.1);
  opacity: 1;
}
