.error {
  margin-top: 53px;
  padding: 20px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.message {
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 400;
  color: rgb(var(--link-rgb));
  line-height: 20px;
}
.reset {
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 36px;
  min-height: 36px;
  background: rgb(var(--primary-rgb));
  border: 1px solid transparent;
  border-radius: 9999px;
  font-size: 15px;
  font-weight: 700;
  color: rgb(var(--foreground-rgb));
  fill: rgb(var(--foreground-rgb));
  line-height: 20px;
  cursor: pointer;
}
.text {
  margin-left: 4px;
}
.reset:hover {
  background: rgba(var(--primary-rgb), 0.9);
}
.reset:active {
  background: rgba(var(--primary-rgb), 0.8);
}
