.title {
  padding: 12px 16px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
  border-radius: 16px;
  border: 1px solid rgb(var(--border-start-rgb));
  margin-top: 12px;
}

.section {
  border: 1px solid rgb(var(--border-start-rgb));
  border-radius: 16px;
  overflow: hidden;
}

.groups {
  padding: 0 16px 12px;
}

.group {
  padding: 12px 0 4px 0;
  display: flex;
  align-items: center;
  height: 36px;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
}

.radio {
  padding: 4px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.text {
  font-size: 14.5px;
  font-weight: 400;
}

.btn {
  margin: -8px;
  padding: 8px;
}

.advanced {
  display: flex;
  transition: 200ms background-color ease-in;
}

.advanced:hover {
  background: rgb(var(--scroll-background));
}

.advanced > a {
  padding: 16px;
  flex-grow: 1;
  font-size: 15px;
  font-weight: 400;
  color: rgb(var(--primary-rgb));
  cursor: pointer;
}
