.search {
  /* margin-top: 6px;
  margin-bottom: 12px; */
  display: flex;
  align-items: center;
  width: inherit;
  height: 42px;
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(207, 217, 222);
  border-radius: 21px;
  overflow: hidden;
  transition: 100ms all ease-in;
}

.search:focus-within {
  border: 2px solid rgb(var(--primary-button-rgb));
}

.search:focus-within > svg {
  fill: rgb(var(--primary-button-rgb));
}

.search > svg {
  margin-left: 20px;
  fill: rgb(var(--link-rgb));
}

.search input {
  outline: none;
  background-color: inherit;
  border: none;
  padding: 12px;
  margin-left: 5px;
  font-size: 15px;
  color: rgb(var(--foreground-rgb));
  width: calc(100% - 60px);
}

.searchFocus {
  background: rgb(var(--background-start-rgb));
}

@media (prefers-color-scheme: dark) {
  .search {
    background-color: rgb(var(--search-rgb));
    border-color: transparent;
  }
}
