.title {
  margin-top: 48px;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.main {
  margin-bottom: 8px;
  font-size: 48px;
  font-weight: 700;
  color: rgb(var(--foreground-rgb));
  line-height: 55px;
}
.sub,
.organizations {
  font-size: 17px;
  font-weight: 400;
  color: rgb(55, 67, 77);
  line-height: 24px;
}
.signup {
  margin-left: 4px;
  font-weight: 700;
  color: rgb(var(--foreground-rgb));
  text-decoration: underline;
  text-decoration-thickness: 2px;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  .sub,
  .organizations {
    color: rgb(182, 185, 188);
  }
}
