.modalGround {
  margin: auto;
  position: fixed;
  left: 50%;
  bottom: 0;
  z-index: 9999;
  transform: translateX(-50%);
  transition-property: opacity;
  transition-duration: 170ms;
  transition-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-name: fade-in;
  animation-duration: 300ms;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  --fade-opacity: 1;
}

.modalContent {
  margin-bottom: 32px;
  padding: 12px;
  border-radius: 4px;
  color: #fff;
  text-align: center;
}

.modalContent span {
  padding: 0 12px;
  display: block;
}

.opacity {
  opacity: 0.3;
  --fade-opacity: 0.3;
}

.fadeOut {
  visibility: hidden;
  opacity: 0;
  animation-name: fade-out;
  animation-duration: 300ms;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}

@media screen and (max-width: 616px) {
  .modalGround {
    left: 0;
    width: 100%;
    transform: unset;
  }

  .modalContent {
    margin-bottom: unset;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .modalGround {
    margin-bottom: 55px;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
    filter: blur(5px);
  }
  to {
    visibility: visible;
    opacity: var(--fade-opacity, 1);
    filter: unset;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: var(--fade-opacity, 1);
  }
  to {
    visibility: hidden;
    opacity: 0;
    filter: blur(5px);
  }
}
