.background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bg_default {
  background: rgba(var(--background-modal-rgb), 0.4);
}
.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  background: rgb(var(--background-start-rgb));
  border-radius: 16px;
  overflow: auto;
}
.small {
  padding: 32px;
  display: flex;
  flex-direction: column;
  max-width: 320px;
}
.medium {
  min-height: 650px;
}
.large {
  width: unset;
  min-width: 600px;
  max-width: 80vw;
}
.auto {
  overflow: auto;
}
.height-auto {
  min-height: auto;
}
.maxHeight_90dvh {
  max-height: 90dvh;
}

@media screen and (max-width: 704px) {
  .modal {
    max-width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

@media screen and (max-height: 704px) {
  .medium {
    min-height: 100%;
  }
}
