.header {
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  flex-shrink: 0;
  width: 100%;
  height: 53px;
  background: rgba(var(--background-start-rgb), 0.65);
  backdrop-filter: blur(12px);
}
.inner {
  padding: 0 16px;
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  max-width: 600px;
}
.inner.noMax {
  max-width: unset;
}
.back {
  position: absolute;
  top: 50%;
  display: flex;
  min-width: 56px;
  transform: translateY(-50%);
}
.title {
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  height: 100%;
}
.text {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  color: rgb(var(--font-theme-rgb));
  line-height: 24px;
}
.sub {
  display: flex;
  font-size: 13px;
  font-weight: 400;
  color: rgb(var(--link-rgb));
  line-height: 15px;
}
.text_left {
  margin-left: 48px;
  justify-content: flex-start;
}
.text_center {
  justify-content: center;
}
.text_right {
  justify-content: flex-end;
}

@media screen and (max-width: 704px) {
  .inner {
    margin: 0 auto;
  }
}
