.toggle {
  padding: 4px 8px;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  gap: 16px;
  background: transparent;
  border: 2px solid transparent;
  border-radius: 9999px;
  transition: 200ms background-color ease;
  cursor: pointer;
}
.toggle.checked {
  background: rgb(var(--background-start-rgb));
  border: 2px solid rgb(var(--primary-rgb));
}
.option {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
}
.label {
  font-size: 15px;
  font-weight: 500;
  color: rgb(var(--foreground-rgb));
  line-height: 20px;
  cursor: pointer;
}
.bold {
  font-weight: 700;
}
.best {
  margin-left: 4px;
  padding: 0 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 20px;
  background-color: rgb(219, 248, 235);
  border-radius: 9999px;
  font-size: 11px;
  font-weight: 500;
  color: rgb(0, 67, 41);
  line-height: 12px;
}

@media (prefers-color-scheme: dark) {
  .best {
    background-color: rgb(0, 37, 26);
    color: rgb(194, 241, 220);
  }
}
