.infor {
  display: flex;
  align-items: flex-start;
  background: rgb(2, 17, 61);
  border-radius: 8px;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}
.svg {
  margin-right: 8px;
}
.premiumLink {
  margin-top: 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}
.premiumLink:hover {
  text-decoration-thickness: 2px;
}
