.sender {
  display: flex;
  flex-direction: column;
  background-color: rgb(var(--background-start-rgb));
  border-top-color: rgb(var(--border-start-rgb));
  border-top-width: 1px;
  border-top-style: solid;
}
.progress {
  height: 0.2rem;
}
.bg {
  background: rgb(239, 243, 244);
}
.reply {
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: rgb(36, 46, 54);
}

@media (prefers-color-scheme: dark) {
  .bg {
    background-color: rgb(32, 35, 39);
  }
  .reply {
    border-left-color: rgb(214, 217, 219);
  }
}
