.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.context_menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: rgb(var(--background-start-rgb));
  border-radius: 12px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 15px,
    rgba(255, 255, 255, 0.15) 0px 0px 3px 1px;
  overflow: hidden;
}

/* ContextMenu */
.menu {
  padding: 12px 16px;
  display: flex;
  align-items: center;
  width: 100%;
  text-wrap: nowrap;
  cursor: pointer;
  transition: 150ms background-color ease;
}
.menu:hover {
  background: rgba(var(--r-background-start-rgb), 0.1);
}
.menu:active {
  background: rgba(var(--r-background-start-rgb), 0.2);
}
.icon {
  padding-right: 12px;
  display: flex;
  align-items: center;
}
.title {
  font-size: 15px;
  font-weight: 700;
  color: rgb(var(--foreground-start-rgb));
  line-height: 20px;
}
