.theme {
  color: rgb(var(--font-theme-rgb));
}
.gray {
  color: rgb(var(--link-rgb));
}
.primary {
  color: rgb(var(--primary-rgb));
}
.error {
  color: rgb(var(--error-rgb));
}
.black {
  color: rgb(var(--quarternary-rgb));
}
.green {
  color: rgb(0, 186, 124);
}
.pink {
  color: rgb(249, 24, 128);
}
.fs_11 {
  font-size: 11px;
  line-height: 12px;
}
.xs {
  font-size: 13px;
  line-height: 16px;
}
.s {
  font-size: 14px;
  line-height: 16px;
}
.m {
  font-size: 15px;
  line-height: 20px;
}
.l {
  font-size: 17px;
  line-height: 20px;
}
.xl {
  font-size: 20px;
  line-height: 24px;
}
.xxl {
  font-size: 23px;
  line-height: 28px;
}
.xxxl {
  font-size: 26px;
  line-height: 32px;
}
.xxxxl {
  font-size: 31px;
  line-height: 36px;
}
.fs_12 {
  font-size: 12px;
  line-height: 15px;
}
.fs_19 {
  font-size: 19px;
  line-height: 23px;
}
.fs_29 {
  font-size: 29px;
  line-height: 34px;
}
.fs_34 {
  font-size: 34px;
  line-height: 40px;
}
.fs_37 {
  font-size: 37px;
  line-height: 46px;
}

.light {
  font-weight: 200;
}
.normal {
  font-weight: 400;
}
.fw_500 {
  font-weight: 500;
}
.bold {
  font-weight: 700;
}
.boldest {
  font-weight: 800;
}

.align_left {
  text-align: left;
}
.align_center {
  text-align: center;
}
.align_right {
  text-align: right;
}

.wordBreak_break_all {
  word-break: break-all;
}
.wordBreak_keep_all {
  word-break: keep-all;
}
.wordBreak_normal {
  word-break: normal;
}

.wordWrap_break_word {
  word-wrap: break-word;
}
.wordWrap_normal {
  word-wrap: normal;
}

.whiteSpace_nowrap {
  white-space: nowrap;
}
.whiteSpace_normal {
  white-space: normal;
}

.textOf_clip {
  text-overflow: clip;
}
.textOf_ellipsis {
  text-overflow: ellipsis;
}

.display {
  display: block;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
.link:hover {
  text-decoration: underline;
}
.pad {
  padding: 12px 16px;
}

.hover_underline:hover {
  text-decoration: underline;
}

.of_auto {
  overflow: auto;
}
.of_hide {
  overflow: hidden;
}
