.column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.head {
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.margin {
  margin: 20px 0;
}
.sub {
  margin-top: 8px;
}
.footer {
  padding: 0 80px;
}
