.container {
  padding: 11px 11px 19px 11px;
  position: relative;
  display: flex;
}
.title {
  padding: 11px 15px 11px 11px;
}
.list {
  margin-right: 11px;
  padding-right: 11px;
  border-right: 1px solid rgb(32, 35, 39);
}
.item {
  margin: 2px 11px;
  display: flex;
  justify-content: space-between;
}
.flex {
  display: flex;
  align-items: center;
}
.command {
  padding: 1px 4px;
  min-width: 1.7em;
  font-family: monospace;
  background: rgb(22, 24, 28);
  border: 1px solid rgb(32, 35, 39);
  border-radius: 4px;
  box-shadow: rgb(51, 54, 57) 0px -1px 0px inset;
}
