.container {
  padding: 11px 11px 19px 11px;
  position: relative;
  display: flex;
}
.title {
  padding: 11px 15px 11px 11px;
}
.list {
  margin-right: 11px;
  padding-right: 11px;
  border-right: 1px solid rgb(var(--border-start-rgb));
}
.item {
  margin: 2px 11px;
  display: flex;
  justify-content: space-between;
}
.flex {
  display: flex;
  align-items: center;
}
.command {
  padding: 1px 4px;
  min-width: 1.7em;
  font-family: monospace;
  background: rgb(247, 249, 249);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(239, 243, 244);
  border-radius: 4px;
  box-shadow: rgb(207, 217, 222) 0px -1px 0px inset;
}

@media screen and (max-width: 704px) {
  .container {
    flex-direction: column;
    gap: 10px;
    width: 100dvw;
  }
  .list {
    border-right: none;
  }
}

@media (prefers-color-scheme: dark) {
  .command {
    background-color: rgb(22, 24, 28);
    border-color: rgb(32, 35, 39);
    box-shadow: rgb(51, 54, 57) 0px -1px 0px inset;
  }
}
