/* PostRepostInfo */
.postRepostInfoSection {
  padding-top: 6px;
}
.postRepostInfo {
  margin-top: -8px;
  margin-bottom: 6px;
  display: flex;
  flex-flow: row nowrap;
}
.repostIcon {
  margin-right: 8px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-basis: 40px;
}
.repostInfo {
  font-size: 13px;
  font-weight: bold;
  color: rgb(var(--link-rgb));
}
.repostInfo:hover {
  text-decoration: underline;
}
.repostInfo > span:first-child {
  margin-right: 2px;
}

/* PostHeader */
.postUserSection {
  margin-right: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40px;
}
.postUserSection.single {
  display: flex;
  flex-flow: row nowrap;
  width: unset;
}
.composeLine {
  margin-bottom: -30px;
  flex-grow: 1;
  width: 2px;
  background: rgb(var(--border-start-rgb));
}
.postUserInfo {
  flex-grow: 1;
}
.postMeta {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  flex-grow: 1;
}
.postUserName {
  margin-right: 5px;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
}
.postUserName:hover {
  text-decoration: underline;
}
.postUserId {
  margin-right: 5px;
  color: rgb(var(--link-rgb));
}
.postUserOption {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* PostOptions */
.postOptions {
  position: absolute;
  top: 5px;
  right: 15px;
}

/* PostPined */
.postPinned {
  margin-top: -6px;
  margin-bottom: 6px;
  padding-top: 2px;
  display: flex;
  align-items: center;
}
.pinned {
  margin-right: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-basis: 40px;
}
.pinnedText {
  padding-bottom: 2px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: 13px;
  font-weight: 700;
  color: rgb(var(--link-rgb));
  line-height: 16px;
}
